<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Thymeleaf Exam</title>
<link th:href="@{/css/bootstrap.css}" rel="stylesheet" media="screen" />
</head>
<body>
	
	<div class="container">
		<table class="table table-striped">
			<caption th:text="#{user.table.caption}">Site Users</caption>
			<thead>
				<tr>
					<th scope="col" th:text="#{user.id.label}">Id</th>
					<th scope="col" th:text="#{user.username.label}">Username</th>
					<th scope="col" th:text="#{user.firstname.label}">First Name</th>
					<th scope="col" th:text="#{user.lastname.label}">Last Name</th>
					<th scope="col" th:text="#{user.role.label}">Role</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="u : ${users}">
					<td th:text="${u.id}"></td>
					<td th:style="${u.role == 0 ? 'color:red;' : ''}" th:text="${u.userName}"></td>
					<td th:text="${u.firstName}"></td>
					<td th:text="${u.lastName}"></td>
					<td th:text="#{${'user.role.' + u.role}}"></td>
				</tr>
			</tbody>
		</table>
	</div>
	
</body>
</html>